.game2{
    height: 91px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 576px;  
}

.game2Title{
    margin-bottom: 36px;
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    justify-self: flex-start;
}

.actualGame2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 536px;
}

.game2Input{
    margin-left: -20px;
    width: 170px;
    border-radius: 20px, 0;
    display: inline-flex;
    padding: 10px 45px 10px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #D7D7D7;
    /* text */
    color: #7E7E7E;
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.game2Button{
    margin-left: -35px;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    border-radius: 0px 20px 20px 0px;
    background: #000;
}

.game2Result{
    width: 330px;
    color: #039900;
    text-align: right;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 110px;
}